.article-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entry-cover {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Specific styles for images in the article-card context */
.article-card .entry-cover {
  max-height: 200px; /* Specific size for blog list */
}

.article-card .entry-cover img {
  object-fit: cover;
}

/* Specific styles for images in the blog content page */
.content-page {
  margin-bottom: 1rem;
  max-height: 300px; /* Increased size for the blog content */
}

.content-page img {
  object-fit: cover;
}

.card-content {
  padding: 0 16px 16px 16px; /* This adds left and right padding only to the text content */
}

.card-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-content p {
  opacity: 0.8;
  margin-top: 4px;
  line-height: 1.5;
}